In [23]:
import numpy as np
import os
import pandas as pd

In [55]:
df = pd.read_csv(filepath_or_buffer='GuardDatabase/numCovered.csv', sep='\t', lineterminator='\n', header=0)
nrowsdf = pd.read_csv(filepath_or_buffer='GuardDatabase/nrows.csv', sep='\t', lineterminator='\n', header=0)

In [56]:
df.dtypes
nrowsdf.dtypes

dem      object
nrows     int64
dtype: object

In [103]:
dems = nrowsdf['dem']

0     2924-2-SE
1     2908-3-SO
2     2908-3-SE
3     2909-3-NO
4     2909-3-SO
5     2908-4-NO
6     2908-2-SO
7     2908-3-NE
8     2909-3-NE
9     2924-1-NO
10    2924-2-NO
11    2924-2-SO
12    2908-4-SE
13    2908-3-NO
14    2924-1-NE
15    2908-4-SO
16    2908-4-NE
17    2924-1-SO
18    2924-1-SE
19    2908-2-SE
20    2909-3-SE
21    2924-2-NE
Name: dem, dtype: object

In [70]:
granular = df.groupby(['dem', 'radius', 'height'])

In [115]:
ans = granular['numCovered'].mean().to_frame()
# print(ans)

In [166]:
# nrowsdf.loc[nrowsdf['dem'] == '2908-2-SE']
dic = {'dem':[], 'radius':[], 'height':[], 'per100000Covered':[]}
for k in ans.itertuples():
    a = nrowsdf.loc[nrowsdf['dem'] == k.Index[0]]['nrows'].array
    # print(a)
    # print(k.Index, 100000*k.numCovered/a[0]/a[0])
    # print(k.numCovered, a[0])
    dic['dem'].append(k.Index[0])
    dic['radius'].append(k.Index[1])
    dic['height'].append(k.Index[2])
    dic['per100000Covered'].append(100000*k.numCovered/a[0]/a[0])
    # break
# print(dic)
newdf = pd.DataFrame.from_dict(dic)#, orient='index', columns=[('dem','radius','height'),'per100Covered'])
print(newdf)

           dem  radius  height  per100000Covered
0    2908-2-SE       5       0        206.358450
1    2908-2-SE       5       5        314.265979
2    2908-2-SE       5      10        389.155572
3    2908-2-SE       5      20        485.827001
4    2908-2-SE       5      50        629.566411
5    2908-2-SE      10       0        577.487274
6    2908-2-SE      10       5        852.687521
7    2908-2-SE      10      10       1041.707400
8    2908-2-SE      10      20       1302.112562
9    2908-2-SE      10      50       1812.007547
10   2908-2-SE      15       0        999.964775
11   2908-2-SE      15       5       1451.103698
12   2908-2-SE      15      10       1754.614718
13   2908-2-SE      15      20       2190.341092
14   2908-2-SE      15      50       3113.380901
15   2908-2-SE      20       0       1404.055400
16   2908-2-SE      20       5       2036.089481
17   2908-2-SE      20      10       2452.877854
18   2908-2-SE      20      20       3060.545060
19   2908-2-SE      20      50       4396.651690
20   2908-2-SE      25       0       1799.516106
21   2908-2-SE      25       5       2594.419325
22   2908-2-SE      25      10       3110.189332
23   2908-2-SE      25      20       3872.206565
24   2908-2-SE      25      50       5588.912476
25   2908-2-SE      50       0       3784.101632
26   2908-2-SE      50       5       5278.249952
27   2908-2-SE      50      10       6169.373347
28   2908-2-SE      50      20       7512.851640
29   2908-2-SE      50      50      10769.075279
..         ...     ...     ...               ...
630  2924-2-SO       5       0        229.733883
631  2924-2-SO       5       5        358.092090
632  2924-2-SO       5      10        430.426533
633  2924-2-SO       5      20        518.999485
634  2924-2-SO       5      50        644.014491
635  2924-2-SO      10       0        686.930808
636  2924-2-SO      10       5       1019.170319
637  2924-2-SO      10      10       1218.340085
638  2924-2-SO      10      20       1484.231712
639  2924-2-SO      10      50       1955.016497
640  2924-2-SO      15       0       1218.441416
641  2924-2-SO      15       5       1755.040455
642  2924-2-SO      15      10       2087.472422
643  2924-2-SO      15      20       2548.487857
644  2924-2-SO      15      50       3438.896102
645  2924-2-SO      20       0       1794.509324
646  2924-2-SO      20       5       2532.710078
647  2924-2-SO      20      10       2993.789666
648  2924-2-SO      20      20       3646.426057
649  2924-2-SO      20      50       4984.980674
650  2924-2-SO      25       0       2408.571331
651  2924-2-SO      25       5       3348.196653
652  2924-2-SO      25      10       3937.401167
653  2924-2-SO      25      20       4771.511543
654  2924-2-SO      25      50       6558.507778
655  2924-2-SO      50       0       5258.248338
656  2924-2-SO      50       5       6987.143155
657  2924-2-SO      50      10       8058.832199
658  2924-2-SO      50      20       9631.372964
659  2924-2-SO      50      50      13315.222312

[660 rows x 4 columns]

In [164]:
newdf.groupby(['radius', 'height']).mean()

               per100Covered
radius height
5      0          221.597896
       5          340.192977
       10         405.617967
       20         488.871114
       50         612.481190
10     0          655.921292
       5          985.435711
       10        1153.409816
       20        1378.256966
       50        1796.881912
15     0         1172.828669
       5         1747.319426
       10        2024.971077
       20        2397.106390
       50        3140.363630
20     0         1716.036838
       5         2545.933222
       10        2936.725711
       20        3456.444859
       50        4528.058006
25     0         2256.536898
       5         3336.417055
       10        3838.690189
       20        4502.389176
       50        5890.638012
50     0         4572.643989
       5         6657.258132
       10        7605.462738
       20        8866.750222
       50       11553.645031